body {
    font-family: Roboto, sans-serif;
}
.container{
    float: left;
    width: 250px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
};

.list {
    background-color: rgba(255,255,255, 0.7);
    li {
        list-style: none;
        cursor: pointer;
    }
    li:hover{
        background-color: rgba(0,0,0, 0.15);
    }
}

.selected{
    color: green;
    font-weight: bold;
}

.infoData {
    list-style: none;
    padding: 0;
}